article {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.description {
    border: 1px solid #EEE9E9;
    border-radius: 2%;
    padding: 10px;
}

.control_bar {
    padding-top: 25px;
}
